<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Maps Routing Electron</title>
    <style>
       #map {
        height: 100vh;
        width: 100vw;
       }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1549984893" />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
  </head>
  <body>
    <div class="input-container">
      <form name="mapsForm" action="" method="post">
        <div class="form-group">
          <div class="label">latitude</div>
          <!-- <input id="origin" type="text" class="form-control" placeholder="Origin" /> -->
          <input id="latitude" type="text" class="form-control" name="Latitude" placeholder="Origin" value="{{
          request.form.Latitude }}" />
          <!-- <input id="origin-longitude" type="text" class="form-control" placeholder="Longitude" value="107.608579" /> -->
        </div>
        <div class="form-group">
          <div class="label">Longitude</div>
          <!-- <input id="destination" type="text" class="form-control" placeholder="Destination" /> -->
          <input id="longtitude" type="text" class="form-control" name="Longtitude" placeholder="Destination" value="{{
          request.form.Longtitude }}" />
          <!-- <input id="destination-longitude" type="text" class="form-control" placeholder="Longitude" value="107.611776"/> -->
        </div>
        <!-- <div class="form-group">
          <div class="label">Longitude</div> -->
          <!-- <input id="destination" type="text" class="form-control" placeholder="Destination" /> -->
          <!-- <input id="distance" type="text" class="form-control" placeholder="20m" value="20m" />
        </div> -->
        <div class="form-group">
          <button id="submit" class="btn waves-effect waves-light" type="submit">
            <i class="fa fa-paper-plane"></i>
            Get Direction
          </button>
        </div>
      </form>
    </div>
    <div id="map"></div> 
    <script type="text/javascript" charset="UTF-8">
      var lat, lng, map;
      var platform = new H.service.Platform({
        'app_id': '<app_id>',
        'app_code': '<app_code>'
      });

      // Drawing line in map by ---------------------------------------------------------------------------------------
      function addPolylineToMap(map, lstPoint, _col) {
        var lineString = new H.geo.LineString();
        // var lstPoint = [[10.8191594, 106.6867526], [10.8262926, 106.6893101], [10.8222614, 106.6944201], [10.8273340, 106.6881662 ]];
        
        for(var i = 0; i < lstPoint.length; i++)
        { 
          if (_col != "#ff0000")
            if ((i > 0 && i < lstPoint.length -1)){
              addmarkerforLine(lstPoint[i][0], lstPoint[i][1], "Dark blue")
            }
            else{
              addmarkerforLine(lstPoint[i][0], lstPoint[i][1], "Grey")
            }
          lineString.pushPoint({lat: lstPoint[i][0], lng: lstPoint[i][1]});
        }

        map.addObject(
          new H.map.Polyline(lineString, { 
            style: { 
              lineWidth: 4,
              strokeColor: _col
            }
          }
        ));
      } 
      /**
      * Creates a series of H.map.Marker points from the route and adds them to the map.
      * @param {Object} route  A route as received from the H.service.RoutingService
      */
      function addmarkerforLine(_lat, _lng, _col){
        if(_col == "Dark blue")
          var svgMarkup = '<svg width="18" height="18" ' +
            'xmlns="http://www.w3.org/2000/svg">' +
            '<circle cx="8" cy="8" r="8" ' +
              'fill="#1b468d" stroke="white" stroke-width="1"  />' +
            '</svg>',
            dotIcon = new H.map.Icon(svgMarkup, {anchor: {x:8, y:8}}),
            group = new  H.map.Group(),
            i,
            j;
        else
          var svgMarkup = '<svg width="18" height="18" ' +
              'xmlns="http://www.w3.org/2000/svg">' +
              '<circle cx="8" cy="8" r="8" ' +
                'fill="#636465" stroke="white" stroke-width="1"  />' +
              '</svg>',
              dotIcon = new H.map.Icon(svgMarkup, {anchor: {x:8, y:8}}),
              group = new  H.map.Group(),
              i,
              j;
        
        //maneuver = route.leg[i].maneuver[j];
        // Add a marker to the maneuvers group
        var marker =  new H.map.Marker({
          lat: _lat,
          lng: _lng},
          {
            icon: dotIcon
          }
        );
          //marker.instruction = maneuver.instruction;
          map.addObject(marker);

        // group.addEventListener('tap', function (evt) {
        //   map.setCenter(evt.target.getPosition());
        //   openBubble(
        //     evt.target.getPosition(), evt.target.instruction);
        // }, false);

        // // Add the maneuvers group to the map
        // map.addObject(group);
      }
      
      // Click event map
      function addClickEventListenerToMap(map) {
        // add 'tap' listener
        map.addEventListener('tap', function (evt) {
          //var coords =  [evt.currentPointer.viewportX, evt.currentPointer.viewportY];
          var coords =  map.screenToGeo(evt.currentPointer.viewportX, evt.currentPointer.viewportY);
          //alert(coords.value);
          
          var setMarker = new H.map.Marker({lat:coords.lat, lng:coords.lng});
          map.addObject(setMarker);
          //alert(typeof (coords.lat))
        }, false);
      }
      //Move map to latitude and longtitude ----------------------------------------------------------------------------
      function moveMap(map, _lat, _lng){
        map.setCenter({lat:_lat, lng:_lng});
        map.setZoom(14);
      }
      //Create map========================================================================================================    
      function initMap() {
        //Step 1: initialize communication with the platform
        var pixelRatio = window.devicePixelRatio || 1;
        var defaultLayers = platform.createDefaultLayers({
          tileSize: pixelRatio === 1 ? 256 : 512,
          ppi: pixelRatio === 1 ? undefined : 320
        });

        //Step 2: initialize a map  - not specificing a location will give a whole world view.
        lat = 10.822258;
        lng = 106.687443;
 
        map = new H.Map(document.getElementById('map'),
        defaultLayers.normal.map, {
          pixelRatio: pixelRatio,
        });

        //Step 3: make the map interactive
        // MapEvents enables the event system
        // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
        var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

        // Create the default UI components
        var ui = H.ui.UI.createDefault(map, defaultLayers);
        
        moveMap(map, lat, lng);
        //addClickEventListenerToMap(map);
      }

      document.getElementById('submit').addEventListener('click', function() {
        submit()
      });
      function submit() {
          
      }

      

      //path1 = [
      //[10.82418, 106.686644], [10.8232, 106.6859], [10.8226, 106.6865], [10.822, 106.6869], [10.8208, 106.6874]
      //];

      //path2 = [
      //[10.82418, 106.686644], [10.822765, 106.688185], [10.8218, 106.6886], [10.8208, 106.6874]
      //]

      //Max_flow = [
      //[10.82418, 106.686644], [10.8232, 106.6859]
      //]



      initMap();
      //addPolylineToMap(map, path1, "#1b468d");
      //addPolylineToMap(map, path2, "#ffff00");
      //addPolylineToMap(map, Max_flow, "#ff0000");

      {% if accept %}
        $.getJSON('static/respon1.json',function(data){
          console.log(data[0])
          path1 = data[0];
          path2 = data[1];
          Max_flow = data[2];

          addPolylineToMap(map, path1, "#1b468d");
          addPolylineToMap(map, path2, "#ffff00");
          addPolylineToMap(map, Max_flow, "#ff0000");
          
        });

        //var importStream = fs.createReadStream('static/respon1.json', {flags: 'r', encoding: 'utf-8'});
        //importStream.on('data', function(chunk) {

        //    var pleaseBeAJSObject = JSON.parse(chunk);           
            // insert pleaseBeAJSObject in a database
        //});
        //importStream.on('end', function(item) {
        //  console.log("Woot, imported objects into the database!");
        //});
      {% endif %}
    </script>
  </body>
</html>
