<!DOCTYPE html>
<html>
  <head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock  %}</title>
    <style>
       #map {
        height: 100vh;
        width: 100vw;
       }
    </style>
    <style>
       #map {
        height: 100vh;
        width: 100vw;
       }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1549984893" />

    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
  </head>
  <body>
    {% block content %}
    
    {% endblock  %}

  </body>
</html>
